*{
  box-sizing: border-box;
  margin:0;
  padding:0;

} 
#root {
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
}

 body {
  margin:0;
  padding:0;
 width:100vw;
 height:100vh;
 background-color:gray;
}
label{
  display:inline-block;
   width:6vw;
 
  
}
input{
  margin-top:20px;
  margin-bottom:10px;
  font-size:20px;
  box-shadow: 10px 5px 5px red;

  
}
input:hover{
  box-shadow: 10px 5px 5px rgb(9, 255, 0); 
}
.button{
  margin:10px 10px 5px;
  padding-left:20px;
  padding-right:20px;
  background-color:greenyellow;
  font-size:20px;

}
.button:hover{
  background-color:red;
  color:yellow;
  transform:scale(1.3);
}
.button:active{
transform:scale(0.85);
}
/* .dashboard{
 
  width: 100vw;
  height:100vh;
  margin:0;
  padding:0;

} */
.post {
  display:inline-block;
  background-color: blue;
  height:15vh;
  width:20vw;
  margin:2vw;
  padding-left:2vw;
  padding-top:5px;
  font-size:20px;
  text-align: left;
  color:white;
  border: 8px dashed yellow;
  border-radius:10px;
}
.posts {
  padding-top:2vh;
  padding-bottom:2vh;
  border:10px solid goldenrod;
  place-content: center;
  margin:10px 30px; 
  
}
h1{
  padding-top:20px;
  font-weight:900;
}
fieldset{
  margin-top:2vh;
  border:5px solid rgb(70, 16, 16);
  width:50vw;
  height:auto;
  margin-left:auto;
  margin-right:auto;
 


}
.post-detail{
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  width:40vw;
  height:20vh;
  background-color:bisque;
  border:5px solid red;

}
.icon{
  font-size:40px;
}
.form{
  width:50vw;
  height:30vh;
  background-color:white;
}